# Dependencies
node_modules/

# Env
.env
.env.local
.env.*.local

# Next.js
apps/web/.next/
apps/web/out/

# Build output
dist/
build/

# Prisma
apps/api/prisma/generated/

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Testing / coverage
coverage/

# Editor / OS
.DS_Store
.vscode/
.idea/

# pnpm
.pnpm-store/
